/* @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap'); */

body{
  background-color: rgb(247, 247, 247);
}
/***NAVBAR**/
.navbar .nav-link {
  color: white !important; 
  font-weight: bold !important; 
  font-family: 'Cursive', sans-serif !important; 
  margin: 0 10px;
}
.navbar .nav-link:hover {
  color:#0d6efd !important;
  cursor: pointer;
}
.navbar-toggler .navbar-toggler-icon{
  color: white !important;
}

/***About***/
.skills-section {
  text-align: left;
}

.skills-icons div {
  margin: 0 10px;
  display: inline-flex;
  align-items: center;
  font-size: 2.2rem;
}

.skills-icons svg {
  margin-right: 8px;
}

h1, h2{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/***ContactMe***/
