/* Import Space Mono font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

body{
  background-color: rgb(247, 247, 247);
}
/***NAVBAR**/
.navbar .nav-link {
  color: white !important; 
  font-weight: bold !important; 
  font-family: 'Cursive', sans-serif !important; 
  font-size: 1.2rem;
  margin: 0 10px;
  font-family: "Space Mono", monospace !important;
}
.navbar .nav-link:hover {
  color:#0d6efd !important;
  cursor: pointer;
}
.navbar-toggler .navbar-toggler-icon{
  color: white !important;
}


/***Home***/
.social-icon {
  transition: transform 0.3s ease; /* Smooth transition */
}

.social-icon:hover {
  transform: scale(1.1); /* Scale the icon up to 120% of its original size */
}


/***About***/
.skills-section {
  text-align: left;
}

.skills-icons div {
  margin: 0 10px;
  display: inline-flex;
  align-items: center;
  font-size: 2.2rem;
}

.skills-icons svg {
  margin-right: 8px;
}

h1, h2{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
}


/***Projects***/

.card {
  transition: transform 0.3s ease; 
}
.card:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 8px rgba(0,0,0,0.2); 
}
/***ContactMe***/

@import url(//fonts.googleapis.com/css?family=Montserrat:300,400,500);
.contact3 {
  font-family: "Montserrat", sans-serif !important;
  color: #8d97ad;
  font-weight: 300;
}

.contact3 h1,
.contact3 h2,
.contact3 h3,
.contact3 h4,
.contact3 h5,
.contact3 h6 {
  color: #3e4555;
}

.contact3 .font-weight-medium {
  font-weight: 500;
}

.contact3 .card-shadow {
  -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
  box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
}

.contact3 .btn-danger-gradiant {
  background: #ff4d7e;
  background: -webkit-linear-gradient(legacy-direction(to right), #ff4d7e 0%, #ff6a5b 100%);
  background: -webkit-gradient(linear, left top, right top, from(#ff4d7e), to(#ff6a5b));
  background: -webkit-linear-gradient(left, #ff4d7e 0%, #ff6a5b 100%);
  background: -o-linear-gradient(left, #ff4d7e 0%, #ff6a5b 100%);
  background: linear-gradient(to right, #ff4d7e 0%, #ff6a5b 100%);
}

.contact3 .btn-danger-gradiant:hover {
  background: #ff6a5b;
  background: -webkit-linear-gradient(legacy-direction(to right), #ff6a5b 0%, #ff4d7e 100%);
  background: -webkit-gradient(linear, left top, right top, from(#ff6a5b), to(#ff4d7e));
  background: -webkit-linear-gradient(left, #ff6a5b 0%, #ff4d7e 100%);
  background: -o-linear-gradient(left, #ff6a5b 0%, #ff4d7e 100%);
  background: linear-gradient(to right, #ff6a5b 0%, #ff4d7e 100%);
}